body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: beige;
}
.wrapper {
    width: 200px;
    background-color: blanchedalmond;
    border: 2px solid salmon;
    border-radius: 10px;

    padding: 25px;
}

form {
    display: flex;
    flex-direction: column;
}