#root {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card-wrapper {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    overflow: hidden;
}

.desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}